<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<title>{% trans %}gosia page title {% endtrans %}</title>

<!-- 
    <link href="{{ asset('bundles/gosiapage/css/Vendor/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/gosiapage/css/Main/main.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
-->

</head>
<body>


	<div style="text-align: center">


		<div class="login_content_wrapper">
			<div class="login_wrapper">
				<img src="/bundles/gosiapage/images/logo.png" class="logo"
					alt="Logo Gosia Page">

				<h2>
					<b>{% trans %}gosia page title{% endtrans %}</b>
				</h2>

				{% trans %}gosia page exception message {% endtrans %}<br>
				<br> <br>
				<br>
				<br>

				<p style="font-size: 20px;">
					 {% trans %}gosia page exception message not found {% endtrans %}<br>
					<br>
				
				
				<p style="">
					{% trans %} gosia page exception you can go to {% endtrans %} <a href="/"> {% trans %} gosia page exception home page {% endtrans %} </a>
				</p>
				</p>

			</div>
		</div>

	</div>
</body>
</html>