<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% trans %}confirmation title{% endtrans %}</title>

</head>
<body>
	<h1>{% trans %}confirmation email tnaks for applying {% endtrans %}</h1>
	<h3>{%trans %}issue date{% endtrans %} : {{ issueDate|date('Y-m-d H:i:s') }}</h3>
	<h2>
		{% trans %}confirmation email message{% endtrans %} 
	</h2>
	<br/>
	<hr/>
	{% trans %} confirmation email thanks {% endtrans %}
</body>
</html>
