{% extends ':default:index.html.twig' %}

{% block body_feature %}
    <section id="contact-info">
        <div class="center">
            <h2>{% trans %}How to rich us {% endtrans %}?</h2>
            <p class="lead">
                <ul class="social-share">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-xing"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
            </p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2322.752223358514!2d18.586684815952097!3d54.39669138021264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd74d0b47b6f1d%3A0xbafc97a6be64b617!2sPilot%C3%B3w+23E%2C+80-460+Gda%C5%84sk!5e0!3m2!1spl!2spl!4v1510269172835" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-6">
                                <address>
                                    <h5>Siedziba</h5>
                                    <p> ul. Pilotów 23 e / 19<br>
                                        Gdańsk,  80-460</p>
                                    <p> 670-898-2847 <br>
                                        Email:translate-it@translate-it.com.pl</p>
                                </address>

                                {#<address>#}
                                    {#<h5>Zonal Office</h5>#}
                                    {#<p>1537 Flint Street <br>#}
                                        {#Tumon, MP 96911</p>#}
                                    {#<p>Phone:670-898-2847 <br>#}
                                        {#Email Address:info@domain.com</p>#}
                                {#</address>#}
                            </li>


                            {#<li class="col-sm-6">#}
                                {#<address>#}
                                    {#<h5>Zone#2 Office</h5>#}
                                    {#<p>1537 Flint Street <br>#}
                                        {#Tumon, MP 96911</p>#}
                                    {#<p>Phone:670-898-2847 <br>#}
                                        {#Email Address:info@domain.com</p>#}
                                {#</address>#}

                                {#<address>#}
                                    {#<h5>Zone#3 Office</h5>#}
                                    {#<p>1537 Flint Street <br>#}
                                        {#Tumon, MP 96911</p>#}
                                    {#<p>Phone:670-898-2847 <br>#}
                                        {#Email Address:info@domain.com</p>#}
                                {#</address>#}
                            {#</li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->
{% endblock %}