#content {
  margin-top: 30px;
  margin-right: 15px;
  position: relative;
  .categories_list {
    padding: 0;
  }
}

.usage_container {
  margin-top: 20px;
}

.categories_list_wrapper {
  border-right: 1px solid $aud_darkblue;
  border-top-right-radius: 10px;
  overflow: hidden;
  background: $aud_white;
  h2 {
    background: $aud_darkblue;
    color: $aud_white;
  }
  h4 {
    background: $aud_blue;
    color: $aud_black;
  }
  .sub_categories_list {
    border-bottom: 2px solid $aud_darkblue;
    li {
      cursor: pointer;
    }
  }
  .categories_title {
    background: $aud_blue;
  }
  i {
    cursor: pointer;
    &.arrow-right:after {
      content: "\e257";
      float: right;
      padding-right: 5px;
      transform: rotate(180deg);
    }
    &.arrow-up:after {
      content: "\e257";
      float: right;
      padding-right: 5px;
      transform: rotate(90deg);
      top: 4px;
    }
    &.arrow-down:after {
      content: "\e257";
      float: right;
      padding-right: 5px;
      transform: rotate(-90deg);
    }
  }
}

.categories_list_wrapper {
  position: relative;

}

.sidebarClosed {
  .sidebar {
    transition: left .5s;
    left: -20%;
  }
  .main {
    transition: width .5s;
    width: 100%;
    width: calc(100% - 15px);
    padding-left: 25px;
    transition: padding-left .5s;

  }
}

.sidebar {
  transition: left .5s;
  left: 0;
  position: absolute;
  width: 20%;
}

.main {
  padding-left: 15px;
  transition: padding-left .5s;
}

div.arrow-right {
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid $aud_darkblue;
  position: absolute;
  left: 100%;
  top: 40%;
  cursor: pointer;
}

.main {
  padding-left: 22%;
  padding-left: calc(20% + 25px);
}

.act-param {
  line-height: 32px;
}

.assign_campaign-wrapper {
  text-align: center;
}

.assign_campaign {
  transform: rotate(90deg);
  padding: 12px 6px !important;
  @include respond-to(md-devices) {
    position: fixed;
    top: 45%;
    transform: rotate(0deg);
    left: 50%;
    margin-left: -65px;
  }
}

.truncate-text {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  vertical-align: middle;
}