.form-group {
  &.form-name {
    input, label {
      width: 100%;
      &.radio-inline,
      &.radio-inline-label {
        width: auto;
      }
      &.radio-inline {
        margin: -5px 5px 0 0;
      }
    }
  }
  &.form-phone {
    label.label-phone {
      width: 29%;
      line-height: 34px;
    }
    .form-assigned-phonenumber {
      margin-bottom: 15px;
    }
  }
  &.flash-messages,
  &.form-error {
    padding: 0 1em;
    ul {
      padding: 0;
      li {
        list-style-type: square;
        margin-left: 25px;
      }
    }
  }
  .input-notice {
    display: inline-block;
    margin: .2em 0;
    font-size: .9em;
    color: $aud_grey;
    cursor: help;
    @extend .glyphicon-info-sign;
    &:before {
      @extend .glyphicon;
      margin-right: 5px;
    }
  }
  .form-error-title {
    @extend .alert-danger;
    margin: 0;
  }
  select.selectpicker {
    display: inline-block !important;
    overflow: hidden;
    height: 14px;
    width: 1px;
    border: 0;
    padding: 0;
    box-shadow: none;
    color: white;
  }
}

.typeahead.dropdown-menu {
  max-height: 350px;
  overflow-y: auto;
  margin-top: -3px;
}

.search_inline {
  display: inline-block;
}

.selectpicker option[disabled] {
  display: none;
}

