#dialog {
  width: 520px;
  height: 520px;
}

#dialog-bg {
  width: 520px;
  height: 500px;
}

#dialog-title {
  width: 520px;
}

#dialog-description {
  height: 500px;
  width: 500px;
  overflow-y: auto;
  height: 450px;
}

