.tree {
  min-height: 20px;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  max-height: 300px;
  overflow-y: scroll;
  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.tree-full {
  min-height: 0;
  max-height: none;
  overflow: visible;
  padding-left: 10px;
}

.tree li {
  list-style-type: none;
  margin: 0;
  position: relative
}

.tree li::before, .tree li::after {
  content: '';
  left: -20px;
  position: absolute;
  right: auto
}

.tree li::before {
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px
}

.tree li::after {
  height: 20px;
  top: 25px;
  width: 25px
}

.tree li span {
  display: inline-block;
  padding: 3px 0;
  text-decoration: none;
  &.item {
    padding-right: 2em;
    .icon {
      margin-left: .5em;
      &.inline-edit-save {
        color: $aud_green;
        font-size: 1.5em;
        position: relative;
        bottom: -7px;
      }
      &.inline-edit-abort {
        color: #777;
        font-size: 1.5em;
        position: relative;
        bottom: -7px;
      }
    }
    .inline-edit-link,
    .inline-delete-link {
      visibility: hidden;
    }
    &:hover {
      .inline-edit-link,
      .inline-delete-link {
        visibility: visible;
      }
    }
    &.edit-mode {
      .inline-edit-link,
      .inline-delete-link {
        visibility: hidden;
      }
      &:hover {
        .inline-edit-link,
        .inline-delete-link {
          visibility: hidden;
        }
      }
    }
  }
}

.tree li {
  cursor: pointer;
}

.tree > ul > li::before, .tree > ul > li::after {
  border: 0
}

.tree li:last-child::before {
  height: 30px
}

.input-tree {
  padding-left: 3px;
}

.tree {
  i {
    &.icon {
      &:before, &:after {
        top: 0;
      }
    }
  }

}

.parent_li {
  > ul {
    > li {
      padding-left: 10px !important;
      &:hover {
        background: $aud-blue;
      }
    }
  }
  .input-tree {
    padding-left: 15px;
  }
}

.activeCat {
  background: $aud-blue;
}
