<!DOCTYPE html>
<html>

    {#<head>#}
        {#<meta charset="UTF-8" />#}
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}{% endblock %}#}


        {#<!--#}
        {#<link rel="icon" type="image/x-icon" href="&#123;&#35;{ asset('favicon.ico') }&#35;&#125;" />#}
        {#<link href="&#123;&#35;{ asset('public/css/structure.css', absolute=true) }&#35;&#125;" rel="stylesheet" />#}
        {#<link href="&#123;&#35;{ asset('public/css/body.css', absolute=true) }&#35;&#125;" rel="stylesheet" />#}
         {#-->#}

    {#</head>#}

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block title %}
                GP
            {% endblock %}
        </title>

        <meta name="robots" content="noindex,nofollow">

        <link href="{{ asset('/assets/css/styles.css') }}" rel="stylesheet" type="text/css"/>

        {% block stylesheets %}

        {% endblock %}
        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% endblock %}
        {% block javascripts_links %}
            <script src="//cdnjs.cloudflare.com/ajax/libs/handsontable/0.15.1/handsontable.full.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
            <script src="{{ asset('/assets/js/scripts.js') }}"></script>
        {% endblock %}
    </head>

    {#http://www.bootstrapzero.com/bootstrap-template/the-firm#}
    {#http://www.bootstrapzero.com/bootstrap-template/happy-scroll#}
    {#(favourite)https://shapebootstrap.net/item/1524962-corlate-free-responsive-business-html-template#}




    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
